
<div class="text-center">
    <h1 class="text-info">Inquiry Confirmation</h1>

    <p>We have Recieved Your inquiry and someone from team will contact you shortly</p>

    <img src="https://thumbs.dreamstime.com/b/contact-us-page-inquiry-form-email-contact-map-concept-flat-design-vector-banner-concept-contact-page-website-where-people-103949505.jpg" width="80%" />
</div>
